body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #40514E;
}

h1 {
  color: #36622b;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Tangerine', cursive;
}

h2 {
  font-weight: normal;
  color: #6a0000;
  font-size: 1.875rem;
  font-family: 'Della Respira', serif;
}

h3 {
  color: #729d39;
  font-family: 'Della Respira', serif;
}

span {
  text-decoration: underline;
}

a {
color: #729d39;
font-family: 'Della Respira', serif;
margin: 10px 20px;
text-decoration: none;
}

a:hover {
  color: #fbfad3;
}

p{
  line-height: 2;
}

hr{color: #c6e377;
border-style: dotted;
border-bottom: 0;
border-width: 6px;
width: 4%;
margin: 50px auto;
}

.top-container {
  background-color: #c6e377;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.middle-container {
  background-color: #fbfad3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #6a0000;
  padding: 100px 0 50px;
}

.flower-1 {
  position: absolute;
  right: 360px;
  bottom: 100px;
}

.flower-2 {
  position: absolute;
  left: 360px;
  bottom: 100px;
}

.Mirax {
  border-radius: 50%;
}

.Img-1 {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.Img-2 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skill-row {

  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.btn {
  background: #fbfad3;
  background-image: -webkit-gradient(top, #fbfad3, #729d39);
  background-image: -webkit-linear-gradient(top, #fbfad3, #729d39);
  background-image: -moz-linear-gradient(top, #fbfad3, #729d39);
  background-image: -ms-linear-gradient(top, #fbfad3, #729d39);
  background-image: -o-linear-gradient(top, #fbfad3, #729d39);
  background-image: linear-gradient(to bottom, #fbfad3, #729d39);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #fbfad3;
  background-image: -webkit-gradient(top, #fbfad3, #729d39);
  background-image: -webkit-linear-gradient(top, #fbfad3, #6a0000);
  background-image: -moz-linear-gradient(top, #fbfad3, #6a0000);
  background-image: -ms-linear-gradient(top, #fbfad3, #6a0000);
  background-image: -o-linear-gradient(top, #fbfad3, #6a0000);
  background-image: linear-gradient(to bottom, #fbfad3, #6a0000);
  text-decoration: none;
}

.skills {
  margin-top: 50px;
}

.profile {
  margin-top: 50px;

}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  margin-top: 0;
}

.copywrite {
  color: #fbfad3;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}
